:root {
  --primary-color: #e50914;
  --primary-color: #141414;
}
* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}
body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialised;
  background: #000;
  color: #999;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  margin: 4px 0;
}
img {
  width: 100%;
}
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("https://i.ibb.co/1RJyrdP/venti-views-l-I7dl-A5-VBp8-unsplash.jpg")
    no-repeat center center/cover;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase-top {
  position: relative;
  z-index: 2;
  height: 250px;
}
.showcase-top img {
  width: 170px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 5%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.1;
  margin: 0 0 16px;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 100;
  font-size: 25px;
  line-height: 10px;
  margin: 0 0 16px;
}
/* tabs */
.tabs {
  background: var(--dark-color);
  padding-top: 8px;
  border-bottom: 3px solid #3d3d3d;
}
.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tabs p {
  font-size: 10px;
  padding-top: 4px;
}
.tabs .container > div {
  padding: 12px;
}
.tabs .container > div:hover {
  color: white;
  cursor: pointer;
}
.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}
#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
}
#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
}
#tab-2-content .tab-2-content-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead tr th {
  text-transform: uppercase;
  padding: 4px;
}
.table thead td {
  color: #999;
  padding: 4px 10px;
  text-align: center;
}
.table tbody tr td:first {
  text-align: left;
}
.table tbody tr:nth-child(odd) {
  background: #222;
}
/* footer*/
.footer {
  max-width: 75%;
  margin: 8px auto;
  overflow: auto;
  font-size: medium;
}
.footer,
.footer a {
  color: #999;
  font-size: 10px;
}
.footer p {
  margin-bottom: 12px;
}
.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
/* tab content*/
.tab-content {
  padding: 24px 0;
  background: #000;
  color: #fff;
}
/*container*/
.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 16px;
}
/* text styles */
.text-xl {
  font-size: 16px;
  margin-bottom: 8px;
}
.text-lg {
  font-size: 13px;
  margin-bottom: 8px;
}
.text-md {
  font-size: 15px;
  margin-bottom: 8px;
}
.text-center {
  text-align: center;
}
.text-dark {
  color: #957878;
}
/* buttons my foot*/
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 3px 11px;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 4px;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}
.btn:hover {
  opacity: 0.9;
}
.btn-rounded {
  border-radius: 35px;
}
.btn-xl {
  font-size: 16px;
  padding: 7px 11px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }
  .hide-sm {
    display: none;
  }
  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }
  .showcase-content h1 {
    font-size: 27px;
    line-height: 1;
  }
  .showcase-content p {
    font-size: 12px;
  }
  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .bnt-xl {
    font-size: 12px;
    padding: 13px 16px;
  }
  .text-xl {
    font-size: 12px;
  }
  .text-lg {
    font-size: 11px;
  }
  .text-xl {
    font-size: 8px;
  }
}
@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1rem;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .btn-xl {
    font-size: 1rem;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
  }
}

@media (max-height: 600px) {
  .showcase-content {
    margin-top: 3rem;
  }
}
